body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #ffd700; /* Change color on hover */
  }
  
  main {
    padding: 40px 0;
  }
  
  .product-images img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 12px; /* Add rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: transform 0.3s ease;
  }
  
  .product-images img:hover {
    transform: scale(1.05); /* Zoom in on hover */
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 0.8em;
  }

  main section {
    display: flex;
    justify-content: space-around;
  }
  
  main section img {
    width: 200px; /* Set the desired width for your images */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Adjust margin as needed */
  }